          <h2>Account control panel</h2>

          <p />
          The <%= INSTITUTION_NAME_LONG %> web site asks its users to create accounts if
          they want to do things like make forum posts or comment on news
          articles. Currently available account management options are
          listed below.

          <p />
          <table border="0" cellspacing="0" cellpadding="6" align="center">
             <tr valign="top" align="center">
<% if hubssolib_logged_in? -%>
               <td><%= make_action_link('account', 'logout', 80, 80, 'Log out') %></td>
               <td>&nbsp;&nbsp;</td>
               <td><%= make_action_link('account', 'change_password', 80, 80, 'Change<br />password') %></td>
               <td>&nbsp;&nbsp;</td>
               <td><%= make_action_link('account', 'change_details', 80, 80, 'Update<br />details') %></td>
               <td>&nbsp;&nbsp;</td>
               <td class="dangerous"><%= make_protected_action_link('account', 'delete', nil, 'Delete<br />account') %></td>
<% else -%>
               <td><%= make_action_link('account', 'login', 80, 80, 'Log in') %></td>
               <td>&nbsp;&nbsp;</td>
               <td><%= make_action_link('account', 'forgot_password', 80, 80, 'Forgotten<br />password?') %></td>
               <td>&nbsp;&nbsp;</td>
               <td><%= make_action_link('account', 'new', 80, 80, 'Sign up!') %></td>
<% end -%>
             </tr>
          </table>

<% if hubssolib_logged_in? && hubssolib_authorized?('list', AccountController) -%>
          <p />
          Administrative options:

          <p />
          <table border="0" cellspacing="0" cellpadding="6" align="center">
             <tr valign="top" align="center">
               <td><%= make_action_link('account', 'list', 80, 80, 'List accounts') %></td>
               <td>&nbsp;&nbsp;</td>
               <td><%= make_action_link('account', 'enumerate', 80, 80, 'Active users') %></td>
             </tr>
          </table>
<%   end -%>