<h1>
  <%= hubssolib_logged_in? ? 'Control panel' : 'Welcome' %>
</h1>

<p>
  The <%= INSTITUTION_NAME_LONG %> web site asks its users to create accounts if
  they want to do things like make forum posts or comment on news
  articles. Currently available account management options are
  listed below.
</p>

<!-- (NetSurf doesn't like "justify-content: center"; this works around it) -->
<div style="text-align: center"><div style="display: inline-block;">
  <div class="actions simple_flex_row centred with_gaps">
    <% if hubssolib_logged_in? -%>
      <%= make_action_link('account', 'logout', 80, 80, 'Log out') %>
      <%= make_action_link('account', 'change_password', 80, 80, 'Change<br />password') %>
      <%= make_action_link('account', 'change_details', 80, 80, 'Update<br />details') %>
      <div class="dangerous"><%= make_protected_action_link('account', 'delete', nil, 'Delete<br />account') %></div>
    <% else -%>
      <%= make_action_link('account', 'login', 80, 80, 'Log in') %>
      <%= make_action_link('account', 'forgot_password', 80, 80, 'Forgotten<br />password?') %>
      <%= make_action_link('account', 'new', 80, 80, 'Sign up!') %>
    <% end -%>
  </div>
</div></div>

<% if hubssolib_logged_in? && hubssolib_authorized?('list', AccountController) -%>
  <p>
    Administrative options:
  </p>

  <div class="actions simple_flex_row centred with_gaps">
    <%= make_action_link('account', 'list', 80, 80, 'List accounts') %>
    <%= make_action_link('account', 'enumerate', 80, 80, 'Active users') %>
  </div>
<%   end -%>
