        To change your account password, please first enter your current password, then enter
        the new password twice to confirm the new value. Use the 'Change' button to apply the
        changes.

        <p />
        <%= form_tag do %>
          <table class="listing horizontal bordered" cellspacing="1" cellpadding="4" border="1" align="center" bgcolor="#ffffff">
            <tr>
              <th bgcolor="#eeeeee" align="left"><label for="old_password">Current password</label></th>
              <td><%= password_field_tag 'old_password', '', :size => 40, :maxlength => 40 %></td>
            </tr>
            <tr>
              <th bgcolor="#eeeeee" align="left"><label for="password">New password</label></th>
              <td><%= password_field_tag 'password', '', :size => 40, :maxlength => 40 %></td>
            </tr>
            <tr>
              <th bgcolor="#eeeeee" align="left"><label for="password_confirmation">Confirm new password</label></th>
              <td><%= password_field_tag 'password_confirmation', '', :size => 40, :maxlength => 40 %></td>
            </tr>
          </table>

          <p align="center" />
          <%= submit_tag('Change') %>
        <% end %>

        <p />
        If you don't want to do this, you can
        <%= link_to 'go back to the control panel', :controller => 'tasks', :action => 'index' %>
        instead.
