<h1>Change details</h1>

<p>
  A <%= INSTITUTION_NAME_LONG %> web site account doesn't contain much information. It's
  really just a way to make sure that things contributed to the site come from real
  people, rather than spammers. The only things we store are your e-mail address for
  notification e-mails, and your chosen 'real' (or 'screen') name.
</p>

<%= render "shared/error_messages", target: @user %>

<%= form_with model: @user, url: change_details_account_path() do |f| %>
  <table class="horizontal bordered" cellspacing="1" cellpadding="4" border="1" align="center" bgcolor="#ffffff">
    <tr>
      <th bgcolor="#eeeeee" align="left"><label for="real_name">Real name</label></th>
      <td><%= f.text_field :real_name, size: 40, maxlength: User::MAX_NAME_LENGTH  %></td>
    </tr>
    <tr>
      <th bgcolor="#eeeeee" align="left"><label for="email">E-mail address</label></th>
      <td><%= f.text_field :email, size: 40, maxlength: User::MAX_MAIL_LENGTH  %></td>
    </tr>
  </table>

  <p align="center">
    <%= f.submit('Update') %>
  </p>
<% end %>

<%= render partial: 'shared/to_control_panel' %>
