<h1>Change password</h1>

<p>
  To change your account password, please first enter your current password, then enter
  the new password twice to confirm the new value. Use the 'Change' button to apply the
  changes.
</p>

<%= form_tag do %>
  <table class="horizontal bordered" cellspacing="1" cellpadding="4" border="1" align="center" bgcolor="#ffffff">
    <tr>
      <th bgcolor="#eeeeee" align="left"><label for="old_password">Current password</label></th>
      <td><%= password_field_tag 'old_password', '', size: 40, maxlength: User::MAX_PW_LENGTH %></td>
    </tr>
    <tr>
      <th bgcolor="#eeeeee" align="left"><label for="password">New password</label></th>
      <td><%= password_field_tag 'password', '', size: 40, maxlength: User::MAX_PW_LENGTH %></td>
    </tr>
    <tr>
      <th bgcolor="#eeeeee" align="left"><label for="password_confirmation">Confirm new password</label></th>
      <td><%= password_field_tag 'password_confirmation', '', size: 40, maxlength: User::MAX_PW_LENGTH %></td>
    </tr>
  </table>

  <p align="center">
    <%= submit_tag('Change') %>
  </p>
<% end %>

<%= render partial: 'shared/to_control_panel' %>
