          Edit account roles using the form below. Multiple roles can be
          assigned to a user. Be very careful to avoid removing administrative
          roles from all users; you would instantly have no administrators and
          therefore no account with permissions to fix the problem. Direct
          database access would be needed to reassign the administrative roles.

          <p />
          <% form_tag do %>
            <table class="list" border="1" align="center" cellspacing="1" cellpadding="4">
              <tr valign="top">
                <th bgcolor="#eeeeee">Address</th>
                <td><a href="mailto:<%= h(@user.email) %>"><%= h(@user.email) %></a></td>
              </tr>
              <tr valign="top">
                <th bgcolor="#eeeeee">Real&nbsp;name</th>
                <td><%= h(@user.real_name) %></td>
              </tr>
              <tr valign="top">
                <th bgcolor="#eeeeee">Roles</th>
                <td align="center">
                  <%= create_roles_selector('user',
                                            'roles',
                                            HubSsoLib::Roles.get_role_symbols,
                                            @user.roles) { |symbol| HubSsoLib::Roles.get_display_name(symbol) } -%>
                </td>
              </tr>
            </table>

            <p align="center" />
            <%= submit_tag('Change') %>
          <% end %>

          <p />
          Alternatively, please select one of the following options:

          <p />
          <table border="0" cellspacing="0" cellpadding="6" align="center">
            <tr valign="top" align="center">
              <td><%= make_action_link('tasks', 'index', 80, 80, 'Control<br />panel') %></td>
              <td>&nbsp;&nbsp;</td>
              <td><%= make_action_link('account', 'list', 80, 80, 'Return<br />to&nbsp;list') %></td>
              <td>&nbsp;&nbsp;</td>
              <td><%= make_protected_action_link('account', 'show', @user.id, 'Return<br />to&nbsp;details') %></td>
              <td>&nbsp;&nbsp;</td>
              <td class="dangerous"><%= make_protected_action_link('account', 'destroy', @user.id, 'Delete<br />account', 'Are you absolutely sure you want to permanently delete this account?') %></td>
            </tr>
          </table>