<h1>Active users</h1>

<% if (@users.count.zero?) -%>
  <p>
    There are no users currently active. Since this view should only
    be accessible by logging in, there is either a fault in the access
    model or in the session enumeration mechanism.
  </p>
<% else -%>

  <p />

  <% if @user_pages.pages > 1 %>
    <div class="pagination">
      <%= pagy_nav(@user_pages).html_safe() %>
    </div>
  <% end %>

  <table class="listing" border="1" align="center" cellspacing="1" cellpadding="4">
    <thead>
      <tr bgcolor="#eeeeee">
        <th>Owner</th>
        <th>Last&nbsp;updated</th>
        <th>Activated?</th>
        <th>Remembered?</th>
        <th>Password&nbsp;reset?</th>
        <th class="actions">&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| -%>
        <tr class="<%= cycle('even', 'odd') %>">
          <td class="smaller">
            <%= h(user.real_name) %><br />
            <a href="mailto:<%= h(user.email) %>"><%= h(user.email) %></a>
          </td>
          <td class="smaller"><%= user.updated_at %></td>
          <%= boolean_cell(user.activated_at) %>
          <%= expired_cell(user.remember_token_expires_at) %>
          <%= expired_cell(user.password_reset_code_expires_at) %>
          <%= list_actions(user) %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination">
    <%= pagy_nav(@user_pages).html_safe() %>
  </div>
<% end -%>

<p style="text-align: center">
  When you've finished listing active users, you can
  <%= link_to 'return to the control panel', root_path() %>.
</p>
