<h1>All users</h1>

<p>
  <b>Administrators, be warned!</b> If you delete an account it can only be
  recreated by the person who created it originally.
</p>

<div class="pagination">
  <%= custom_pagy_nav(@user_pages).html_safe() %>
</div>

<table class="listing" border="1" align="center" cellspacing="1" cellpadding="4">
  <thead>
    <tr bgcolor="#eeeeee">
      <th>Owner</th>
      <th>Last&nbsp;updated</th>
      <th>Activated?</th>
      <th>Remembered?</th>
      <th>Password&nbsp;reset?</th>
      <th class="actions">&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td>
          <%= h(user.real_name) %><br />
          <small><a href="mailto:<%= h(user.email) %>"><%= h(user.email) %></a></small>
        </td>
        <td class="smaller"><%= user.updated_at %></td>
        <%= boolean_cell(user.activated_at) %>
        <%= expired_cell(user.remember_token_expires_at) %>
        <%= expired_cell(user.password_reset_code_expires_at) %>
        <%= list_actions(user) %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination simple_flex_row">
  <div>
    <%= custom_pagy_nav(@user_pages).html_safe() %>
  </div>

  <%= form_with url: list_account_path(), method: 'get', class: 'search_form' do |f| %>
    <%= f.search_field(:q, size: 14, value: params[:q], placeholder: t('search.users')) %>
    <%= f.button(t('search.button'), type: 'submit') %>
  <% end %>
</div>

<p>
  When you've finished managing accounts, you can
  <%= link_to 'return to the control panel', root_path() %>.
</p>
